body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

header{
    background-color: green;
    width:100% ;
    height: 100px;
}

header a{
    background-color: rgb(49, 121, 21);
    text-decoration: aqua;
    color: silver;
    
    
}

p {
    text-align: center;
    color:blue;
}

h1{
    text-align: center;
    color: blue;
}

nav  {
    text-align: center;
    text-decoration: none;
    color: brown;
}
.otd {
    width: 100%;
}

.social:hover {
    float: right;
}

footer a {
  
}

li {
    text-align: center;
    color: blue;
}
